
.contenedor {
	max-width: 1200px;
	margin: auto;
	margin-top: 30px;
}

.btn-box {
    margin-bottom: 3px;
 }

 .contenedor table thead {
    color: #fff;
    background-color: #212529;
 }

@media all and (max-width:1024px) {
    .contenedor{
    	max-width: 90%;
    	margin-top: 40px;
    }

    .bienvenido h1{
        font-size: 46px;
    }
} 
